@charset "utf-8";
@import "bulma-0.7.1/bulma.sass";
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab:400,700');
$slabfont: 'Zilla Slab', serif;
$lighttext: rgba(255,255,255,.9);
$lightgray: #999;
$darkgray: #333;
$darkblue: #064780;
$lightblue: #a0c2de;

$red: #dc081e;
$softred: #fa7381;
$orange: #fd8814;
$softorange: #feb975;
$yellow: #f9ed1d;
$softyellow:#fbf369;
$green: #29a51f;
$softgreen: #92e98b;
$blue: #002182;
$softblue: #6e93ff;
$indigo: #4b0082;
$softindigo: #dba9ff;
$violet: #ee82ee;
$softviolet: #f6c0f6;

body {
    background: $darkblue;
    color: $lighttext;
    font-size: 100%;
} 

/*typography*/
.white {color: #fff;}
body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
    font-size-adjust: 0.5;
  }
 
h1, h2, h3, h4, h5, h6 {
    font-family: $slabfont;
    font-weight: 700;
}
h1 {
    font-size: 2em;
    /* 2x body copy size = 32px */
    line-height: 1.25;
    /* 45px / 36px */
  }
  
  @media (min-width: 43.75em) {
    h1 {
      font-size: 2.5em;
      /* 2.5x body copy size = 40px */
      line-height: 1.125;
    }
  }
  
  @media (min-width: 56.25em) {
    h1 {
      font-size: 3em;
      /* 3x body copy size = 48px */
      line-height: 1.05;
      /* keep to a multiple of the 20px line height and something more appropriate for display headings */
    }
  }
  
  h2 {
    font-size: 1.625em;
    /* 1.625x body copy size = 26px */
    line-height: 1.15384615;
    /* 30px / 26px */
  }
  
  @media (min-width: 43.75em) {
    h2 {
      font-size: 2em;
      /* 2x body copy size = 32px */
      line-height: 1.25;
    }
  }
  
  @media (min-width: 56.25em) {
    h2 {
      font-size: 2.25em;
      /* 2.25x body copy size = 36px */
      line-height: 1.25;
    }
  }
  
  h3 {
    font-size: 1.375em;
    /* 1.375x body copy size = 22px */
    line-height: 1.13636364;
    /* 25px / 22px */
  }
  
  @media (min-width: 43.75em) {
    h3 {
      font-size: 1.5em;
      /* 1.5x body copy size = 24px */
      line-height: 1.25;
    }
  }
  
  @media (min-width: 56.25em) {
    h3 {
      font-size: 1.75em;
      /* 1.75x body copy size = 28px */
      line-height: 1.25;
    }
  }
  
  h4 {
    font-size: 1.125em;
    /* 1.125x body copy size = 18px */
    line-height: 1.11111111;
  }
  
  @media (min-width: 43.75em) {
    h4 {
      line-height: 1.22222222;
      /* (22px / 18px */
    }
  }
  
  blockquote {
    font-size: 1.25em;
    /* 20px / 16px */
    line-height: 1.25;
    /* 25px / 20px */
  }
  
  @media (min-width: 43.75em) {
    blockquote {
      font-size: 1.5em;
      /* 24px / 16px = */
      line-height: 1.45833333;
      /* 35px / 24px */
    }
  }

  .module_header {
    margin-bottom: 6px;
  }

  /* Calendar */
.calendar-element {
  margin: 6px 0px;
  color: black;
  font-family: $slabfont;
}
.calendar-element-numbers{
  color: black;
  margin: 20px 0;
}

span.date-number {
  background: white;
  color: black;
  font-size: 2.7em;
  padding: 5px;
  display: inline-block;
  min-width: 60px;
}
.monday {
  background-color: $red;
}
.tuesday {
  background-color: $orange;
}
.wednesday {
  background-color: $yellow;
}
.thursday {
  background-color: $green;
}
.friday {
  background-color: $blue;
}
.saturday {
  background-color: $indigo;
}
.sunday {
  background-color: $violet;
}

.january{
  background-color: $softblue;
}
.february{
  background-color: $softblue;
}
.march{
  background-color: $softgreen;
}
.april{
  background-color: $softgreen;
}
.may{
  background-color: $softgreen;
}
.june{
  background-color: $softyellow;
}
.july{
  background-color: $softyellow;
}
.august{
  background-color: $softyellow;
}
.september{
  background-color: $orange;
}
.october{
  background-color: $orange;
}
.november{
  background-color: $orange;
}
.december{
  background-color: $softblue;
}

.color-square {
  background-color: green;
  border: 4px solid #fff;
  border-radius: 100px;
  margin: 0 auto;
  height: 165px;
  width: 165px;
}

.sight-words li {
  background: white;
  color: black;
  margin: 6px 0px;
}